body {
  background-image: url("background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  position: fixed;
  padding: 2px;
  border-radius: 20px;
}

.centerNavBar{
  display: flex;
    justify-content: right;
    padding-top: 1%;
}

ul {
  margin: 0;
  padding-right: 0;
  padding-top: 5px;
    
}

li {
  display:inline;
  font-size: 18px;
  padding-right: 10px;
}

a { 
  padding-right: 13px;
  text-decoration: none;
  padding-left: 5px;
  color: black;
}

a:hover {

  text-decoration: 3px underline;
  text-decoration-color: black;
  text-underline-offset: 8px;
}

.withoutLast{
  border-right: 2px solid black; 
}

.downLine2{
  position: absolute;
  top: 10px;
  left: 150px;
  stroke: red;
  stroke-width:3px;
}

.bottombtn a{
  padding: 15px;
  border-radius: 8px;
  background-color: aliceblue;
  border: 1px solid rgb(14, 27, 44);
  color: rgb(14, 27, 44);
}
